@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Space+Grotesk:wght@400;500;600&display=swap");
@import "tailwindcss";
@source "../../../node_modules/layerchart/dist";


@layer base {
  :root {
    --site-header-height: 3.5rem;
    --year-header-height: 1.75rem;
  }

  body {
    @apply bg-slate-50 font-sans text-slate-900 antialiased;
  }
}

@media (max-width: 768px) {
  :root {
    --site-header-height: 3.5rem;
  }
}
