@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Space+Grotesk:wght@400;500;600&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 font-sans text-slate-900 antialiased;
  }
}
